
<div class="container reviews-container">
  <% Review.all.each do |review| %>
    <h4 data-toggle="modal" data-target="#<%=review.document%>"><i class="fa fa-search" aria-hidden="true"></i> <%= review.name %> </h4>
    <p><%= review.description %></p>

    <% if review.address != "" %>
      <p><strong>Адрес: </strong><%= review.address %></p>
    <% end %>

    <!-- Large modal -->
    <div class="modal fade bd-example-modal-lg" id="<%=review.document%>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="close-modal">×</span>
          </button>
           <%= image_tag review.document, class: "img-fluid"%>
        </div>
       </div>
    </div>
  <% end %>
  
  
</div>