<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/3a83e4632b.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,500i,700&amp;subset=cyrillic" rel="stylesheet">
  </head>
  <body>
    <div class="logo-panel">

          <!-- ASK A QUESTION BUTTON -->
    <div class="project-container">
        <button data-toggle="modal" data-target=".bd-example-modal-lg" class="contact-button">Задать Вопрос</button>
          <!-- Large modal -->
          <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="close-modal">×</span>
              </button>
              <div class="container">
              
                <form class="contact-form">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Имя</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Электронная почта</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Телефон</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  
                  <fieldset class="form-group">
                    <legend>Как Вы предпочитаете чтобы мы с Вами связались?</legend>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        По электронной почте
                      </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                        По телефону
                      </label>
                    </div>
                  </fieldset>
                  <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
              </div>
              </div>
             </div>
          </div>
        </div>

      <%= link_to root_path, class: "inline" do %>
        <%= image_tag 'psmlogo', class: "img-fluid", size: "270" %>
      <% end %>
      <h1 class="inline company-name">ПЕТРОСПЕЦМОНТАЖ</h1>
      
    </div>
    <!-- NAVBAR -->

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            О КОМПАНИИ
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "История компании", about_path, class: "dropdown-item" %>
              <%= link_to "Коллектив", team_path, class: "dropdown-item" %>
              <%= link_to "Документы", documents_path, class: "dropdown-item" %>
              
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ДЕЯТЕЛЬНОСТЬ
            </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <% Service.all.each do |service| %>
                <%= link_to service.name, service_path(service.id), class: "dropdown-item"%>
              <% end %>
            </div>
          </li>

          <li class="nav-item">
            <%= link_to "ОБЪЕКТЫ", projects_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ПАРТНЕРЫ", partners_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ЗАКАЗЧИКИ", customers_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ОТЗЫВЫ", reviews_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "КОНТАКТЫ", contact_path, class: "nav-link" %>
          </li>

        </ul>
          <div class="navbar-right">
              <i class="fa fa-phone" aria-hidden="true"></i> (812) 318-36-46
          </div>
      </div>
    </nav>
      
    <div id="red-border"></div>
    <%= yield %>
    

  <!-- FOOTER -->
   <footer class="footer">
      <div class="container">
            <a href="#" class="footer-icon"><i class="fa fa-vk fa-lg" aria-hidden="true"></i></a>
            <a href="#" class="footer-icon"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
            <a href="#" class="footer-icon"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
        <span class="footer-text" style="float: right">© 2006-2017 Официальный сайт ООО "Петроспецмонтаж". Все права на изображения и тексты принадлежат их авторам.</span>
      </div>
    </footer>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>